@import 'variables.scss';

.tab-bar {
    height: 172px;
    color: $white;
    display: flex;
    flex-direction: column;
    .tabs {
        display: flex;
        justify-content: center;
        .tab {
            flex: 1;
            text-align: center;
            padding: 16px 8px;
            &.active {
                border-bottom: 2px solid $lightBlue;
            }
        }
    }
    .tab-content {
        flex: 1 1 120px;
    }
}