@import 'variables.scss';

.tab-bar {
    height: 200px;
    color: $white;
    .tabs {
        display: flex;
        justify-content: center;

        .tab {
            flex: 1;
            text-align: center;
            padding: 16px 8px;
            &.active {
                border-bottom: 2px solid $lightBlue;
            }
        }
    }
    .tab-content {
        padding: 16px;
    }
}